/* Scrollbar css */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1f4b8a;
}
*{
  overflow-x: hidden;
}
body {
  /* width: 100vw; */
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', sans-serif;
}

body {
  /* background: linear-gradient(rgb(125, 231, 230), rgb(25, 92, 131)); */
  /* background-size: 6px 6px; */
  /* background-color: #69cbff; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

h1 {
font-family: 'Roboto', sans-serif;
margin: 5% 0 15%;
color: rgb(35, 35, 35);
}

.sign-up-page {
  margin: auto;
  height: 70%;
  width: 30%;
  background-color: white;
  border-radius: 20px;
  padding: 2%;
  position: relative;
}

.sign-in-input {
  width: 100%;
  padding: 2% 3%;
  margin: 2% 0;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 1.2rem;
}

#submit {
  text-decoration: none;
  background-color: rgb(91, 255, 255);
  color: black;
  padding: 5px 8px;
  border: 2px solid rgb(42, 42, 42);
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  border-radius: 5px;
  font-family: 'Comfortaa', cursive;
}

#submit:hover {
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  transition: 100ms;
}

#submit:active {
  border-right: 2px solid rgb(116, 115, 115);
  border-bottom: 2px solid rgb(116, 115, 115);
  border-left: 4px solid black;
  border-top: 4px solid black;
}

.submit-div {
  margin-top: 20px;
  width: 100%;
  text-align: right;
}


.back {
  text-decoration: none;
  background-color: rgb(91, 255, 255);
  color: black;
  padding: 2px 5px;
  border: 2px solid rgb(42, 42, 42);
  border-right: 4px solid black;
  border-top: 4px solid black;
  border-radius: 5px;
  font-family: 'Comfortaa', cursive;
  /* position: relative; */
  top: 0%;
  right: 0%;
}

.back:hover {
  border-right: 5px solid black;
  border-top: 5px solid black;
  transition: 100ms;
}

.back:active {
  border-right: 2px solid rgb(116, 115, 115);
  border-top: 2px solid rgb(116, 115, 115);
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Source Sans 3', sans-serif;
}

/* Apply styles to your header, hero, and footer sections */
header {
  background-color: #0056D2;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.hero {
  height: 75vh;
  padding: 60px 40px;
  background-size: cover;
  color: #333;
  display: flex;
  text-align: left;
}

.hero-text {
  width: 60%;
  margin: auto;
}
.hero-text h1{
  margin: 0;
}

.hero-img {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h1 a{
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 36px;
  font-family: 'Source Sans 3', sans-serif;
}

#search-input, #search-button {
  font-size: 16px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077b5;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

footer {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px 0 ;
  padding-top:40px ;
}

.foot-panel1{
  display: flex;
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
  justify-content: space-evenly;
  padding-bottom:60px;
}


.foot-panel1 ul a{
  text-decoration: none;
  display: block;
  font-size: 0.85rem;
  margin-top: 5px;
  color: #000000;
  text-align: left;
}

.foot-panel1 ul a:hover{
  text-decoration: underline;
}

.foot-panel1 ul p{
  font-weight: bold;
  text-align: left;
}

.mobile-app-link a{
  padding: 0.5rem;
}

.foot-panel2{
  display: flex;
  justify-content:space-between;
  margin: 20px 60px;
  align-items: center;
}

.footer-social-icons a{
  font-size: xx-large;
  color: black;
  margin-right: 1rem;
}

/* cards */
/* Add styles for course cards */
.course-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.course-card {
  width: calc(25% - 20px);
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.course-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.course-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.course-card p {
  font-size: 20px;
  color: #777;
  margin-bottom: 20px;
}

.learn-more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077b5;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
/* search bar */
/* Add styles for the search bar */
.search-bar {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#search-input {
  padding: 9px 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
  border: none;
  border: 2px solid #014a67;  
  border-right: 1.5px solid #012b67;  
}

#search-button {
  padding: 9px 10px;
  background-color: #0056D2;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #012b67;
  border-left: 1.5px solid #012b67;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #0862df;
}
.profile{
  display: flex;
  justify-content: space-around;
  align-items: center;
   text-align: center; 
} 
.profile-left-div{
  height: 20%;
  width: 20%;
}
.profile-right-div{
  text-align: left;
  padding: 2rem;
} 
.profile--heading{
  display: inline;
  font-size:larger;
}

img.profile-img{
  height: 20rem;
}
.profile-button {
  padding: 11px 10px;
  margin-left: 5px;
  margin-right: 3px;
  background-color: #0056D2;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #012b67;
  cursor: pointer;
  border-radius: 5px;
  transition: 500ms;
} 

.profile-button:hover {
  background-color: #0862df;
  margin: 0 0 0 2px;
  padding: 14px 13px;
  transition: 500ms;
}

#question-div, #question-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

img.profile-button {
  height: 45px;
  padding: 0;
  margin: 0 0 5px 0;
  border-radius: 100%;
}

img.profile-button:hover {
  height: 50px;
  padding: 0;
  /* margin:0 0 0 -5px; */
  transition: 500ms;
}
/* css for cards */
/* Add hover styles for course cards */
.course-card {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s; /* Add a smooth transition effect */
}

.course-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.course-card h2 {
  font-size: 18px;
  margin:0 12px 10px;
  text-align: left;
}

.course-card p {
  font-size: 14px;
  color: #777;
  margin: 0 12px 10px;
  text-align: left;
}

.learn-more-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077b5;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Add hover effect */
.course-card:hover {
  transform: scale(1.05); /* Increase size on hover */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}

/* css for discord server invite */
.discord-server-invite{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: #7289da;
  font-size: 70px;
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
  transition: opacity 0.2s ease-in-out;
  
}
.discord-server-invite a {
  color: white;
  text-decoration: none;
}