.return-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 30px;
	height: 30px;
	background-color: white;
	color: #fff;
	border-radius: 10%; 
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}
  
.return-to-top.active {
	opacity: 1;
	visibility: visible;
}

@media(max-width:480px) {
.agile-dish-caption {
	padding: 0.5em;
}
.agile-dish-caption span {
	font-size: 0.8em;
}
}