/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Source Sans 3', sans-serif;
    overflow-x: hidden;
}

/* Scrollbar css */

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1f4b8a;
  }

.contribution-request {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    text-align: center;
    position: relative;
}

.contribution-request > p {
    display: inline;
}

.contribution-request > a {
    text-decoration: none;
    color: #ffffff;
    transition: 250ms;
    text-decoration: underline rgb(134, 134, 134);

}

.contribution-request > a:hover {
    text-decoration: none;
    color: #84d0ff;
    transition: 250ms;
    text-decoration: underline white;   
}

.hide {
    position: absolute;
    right: 15px;
    cursor: pointer;
    color: rgb(206, 206, 206);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Apply styles to your header, hero, and footer sections */
header {
    background-color: #0056D2;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100vw;
    z-index:20;
}
/* ............................... */
header .sticky{
    /* background: #030429; */
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    
}
.sticky {
    position: fixed; 
     top: 0; 
    width: 100%; 
  }
  .sticky + .content {
    padding-top: 60px;
  }
  /* ................................. */
.hero {
    height: 75vh;
    padding: 60px 40px;
    background-size: cover;
    color: #333;
    display: flex;
    align-items: center;
}

.hero-text {
    width: 60%;
}

.hero-img {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 a{
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 36px;
    font-family: 'Source Sans 3', sans-serif;
}

#search-input, #search-button {
    font-size: 16px;
}

.button-container {
     position: relative;
     display: inline-block;
     overflow: visible;
        }

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0786ca;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    transition: transform .3s cubic-bezier(.5,2.5,0,0);
    }

.cta-button:hover {
    transform: translate(0, -10%);
}

.cta-button-back {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    }


footer{
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px 0 ;
    padding-top:40px ;
}

.foot-panel1{
    display: flex;
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    justify-content: space-evenly;
    padding-bottom:60px;
}


.foot-panel1 ul a{
    text-decoration: none;
    display: block;
    font-size: 0.85rem;
    margin-top: 5px;
    color: #000000;
    text-align: left;
}

.foot-panel1 ul a:hover{
    text-decoration: underline;
}

.foot-panel1 ul p{
    font-weight: bold;
    text-align: left;
}

.mobile-app-link a{
    padding: 0.5rem;
}

.foot-panel2{
    display: flex;
    justify-content:space-between;
    margin: 20px 60px;
    align-items: center;
}

.footer-social-icons a{
    font-size: xx-large;
    color: black;
    margin-right: 1rem;
}

/* cards */
/* Add styles for course cards */
.course-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.course-card {
    width: calc(25% - 20px);
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

.course-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.course-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.course-card p {
    font-size: 20px;
    color: #777;
    margin-bottom: 20px;
}

.learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077b5;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
/* search bar */
/* Add styles for the search bar */
.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#search-input {
    padding: 9px 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    outline: none;
    border: none;
    border: 2px solid #014a67;  
    border-right: 1.5px solid #012b67;  
}

#search-button {
    padding: 9px 10px;
    background-color: #0056D2;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #012b67;
    border-left: 1.5px solid #012b67;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0862df;
}

.profile-button {
    padding: 11px 10px;
    margin-left: 5px;
    margin-right: 3px;
    background-color: #0056D2;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #012b67;
    cursor: pointer;
    border-radius: 5px;
    transition: 500ms;
} 

.profile-button:hover {
    background-color: #0862df;
    margin: 0 0 0 2px;
    padding: 14px 13px;
    transition: 500ms;
}

#question-div, #question-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

img.profile-button {
    height: 50px;
    padding: 0;
    margin: 0 0 5px 0;
    border-radius: 100%;
}

img.profile-button:hover {
    height: 55px;
    padding: 0;
    margin:0 0 0 -5px;
    transition: 500ms;
}
/* css for cards */
/* Add hover styles for course cards */
.course-card {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.2s; /* Add a smooth transition effect */
}

.course-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.course-card h2 {
    font-size: 18px;
    margin:0 12px 10px;
    text-align: left;
}

.course-card p {
    font-size: 14px;
    color: #777;
    margin: 0 12px 10px;
    text-align: left;
}

.learn-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0077b5;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Add hover effect */
.course-card:hover {
    transform: scale(1.05); /* Increase size on hover */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}

.footer-social-icons a:hover{
    color:  #0786ca;
}



